/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 #dwd-clearstorage {
    -webkit-transition: background .5s;
    transition: background .5s;
    color: #fff;
    background-color: #6C2EB9;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    padding: 0 20px 0 55px;
    font-size: 18px;
    font-weight: 100;
    height: 53px;
    line-height: 53px;
    position: relative;
    margin: 4px 0 12px 20px;
    -webkit-border-radius: 4px;
    -webkit-animation: et_pb_fade_in_small .5s 1 cubic-bezier(0.77, 0, .175, 1);
    animation: et_pb_fade_in_small .5s 1 cubic-bezier(0.77, 0, .175, 1);
}

.et_pb_toggle_builder_wrapper #dwd-clearstorage:before {
    top: 12px;
    position: absolute;
    left: 15px;
    font-size: 28px;
    font-family: 'ETmodules';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
/**
* WordPress 4.9
*
* Override: display:none for color pickers;
*/

.settings_page_divi_tweaker .wp-picker-container > a.wp-color-result{
    display: inline-block;
    height: 22px;
    min-width: 32px;
    border: 1px #ccc solid;
}

.settings_page_divi_tweaker .wp-color-picker {
    display: inline !important;
}

.settings_page_divi_tweaker .wp-picker-default {
    display: inline !important;
    margin-left: 6px;
}