.et_pb_modal_settings_container {
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	border-radius: 0;
}
.admin-bar .et_pb_modal_settings_container {
	top: 32px;
}
.et-pb-options-tabs-links {
	width: 100%
}
.et-pb-options-tabs {
    -webkit-transform: scale(0.96); 
    -ms-transform: scale(0.96); 
    -moz-transform: scale(0.96); 
    transform: scale(0.96); 
    padding: 20px 0 0 0;
}