.dwd-mobile-text::after {
    position: relative;
    top: -10px;
    left: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.et_header_style_fullscreen #et-top-navigation .mobile_menu_bar.et_toggle_fullscreen_menu:before {
	left: -40px;
}
.et_header_style_fullscreen #et-top-navigation .dwd-mobile-text::after {
	left: -40px;
}
.et_pb_fullscreen_menu_active .mobile_menu_bar.et_toggle_fullscreen_menu .dwd-mobile-text::after {
    position: relative;
    left: 0;
    top: -8px;
    font-size: 15px;
    color: #fff;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.et_header_style_slide #et-top-navigation::after {
    position: relative;
    top: -10px;
    left: 0;
}
.et_toggle_slide_menu.mobile_menu_bar:before, .et_toggle_slide_menu.mobile_menu_bar .dwd-mobile-text::after{
	left: -40px;
}
.et_pb_slide_menu_active .et_toggle_slide_menu:before {
    left: -40px;
    opacity: 1;
}
.et_pb_slide_menu_active .et_toggle_slide_menu:after {
    display: none;
}
