.et-pb-all-modules .et_pb_map_extended:before,
.et-pb-all-modules .et_pb_fullwidth_map_extended:before,
.et_pb_saved_layouts_list .et_pb_map_extended:before,
.et_pb_saved_layouts_list .et_pb_fullwidth_map_extended:before {
	color: #101723;
	font-size: 16px !important;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #101723;
    content: '\59';
    font-size: 32px;
    margin-right: 11px;
    position: absolute;
    left: 13px;
    top: 13px font-family: 'etbuilder';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.et_pb_map_extended, .et_pb_fullwidth_map_extended {
	background: #fecd08 !important;
    color: #101723 !important;
}

.et_pb_map_extended:hover, .et_pb_fullwidth_map_extended:hover {
    background: #ffb347 !important;
    letter-spacing: -1px;
}

.et_pb_map_extended .et_module_title, .et_pb_fullwidth_map_extended .et_module_title {
    margin-left: 5px;
    font-size: 16px;
}
